body{
  margin: 0;
  padding: 0;
}

.containerMain{
   justify-content: center;
   min-height: inherit;
   height:100vh;

}

.containerLeft{
  width: 80%;
  background-color: navy;
  display: table-cell;
}
 .containterRight{
   width: 20%;
   background-color: blue;
   display: table-cell;
 }

.Title{
   color:white;
   font-size: 1.5vw;
 }

 .containerLeft .showMessage{
   text-align: center;
   height:90%;

 }
 
 .containerLeft .showMessage #messageLog{
   background-color: white;
   text-align: left;
   display: block;
   margin: 0 auto;
   height: 90%;
   width: 90%;
   border-radius: 2%;
   font-size: 0.5em;
   padding: 10px;
   overflow-y: auto;
 }

.containerMain .sentMessage{
  margin: 0 auto;
  width: 90%;
  height: 5%;
  position: relative;
}
.containerMain .sentMessage #writeMessage{
  position: absolute;
  width: 85%;
  height: 80%;
  bottom: 0px;
  font-size: 1em;

}

.containerMain .sentMessage .sendButtonDiv{
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 10%;
  height: 93%;
  background-color: navy;
  text-align: center;
}

.containerMain .sentMessage .sendButton{
  height: 100%;
  width: 100%;
  border-radius: 0%;
  background-color: white;
  font-size: 0.99em;
}


.containterRight .showOnline{
  text-align: center;
  height:90%;
}

.showUsers{
  background-color: white;
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 80%;
  border-radius: 2%;
}
